//Marcado pug

.codit
	.container
		nav.menu
			co-search(v-on:search = 'onSearch')
			co-bookmarks
		main.content
			header.content__header
				co-logo
				// router view lo que hace es renderizar en ese momento los componentes que hay en la ruta
				// le marque 
				// se pueden definir varios router-view pero el primero siempre seria para la ruta '/'
			router-view 

			// router link nos permite hacer una navegacion
			// y por debajo se esta renderizando una etiqueta anchor









// Marcado HTML
//- <div class='codit'> 
//-     <div class='container'>
//-       <nav class='menu'>

//-         <!-- Evento recibido en el padre con el metodo onSearch() 
//-         que definimos en el script -->
//-         <co-search
//-           v-on:search='onSearch'>
//-         </co-search>
//-         <co-bookmarks></co-bookmarks>
//-       </nav>
//-       <main class='content'>
//-         <header class='content__header'>
//-           <co-logo></co-logo>
//-         </header>
//-         <co-developers></co-developers>
//-       </main>
//-     </div>
//-   </div>


